<h1>Все Автомобили</h1>
    <h3>@Model.carCategory</h3>
    @{
        foreach (var car in Model.allCars)
        {
            <div>
                <h2> Модель: @car.name </h2>
                <p> Цена: @car.price.ToString("c")</p>
            </div>

        }
    }
