<h1>Все Автомобили</h1>
<h3>@Model.carCategory</h3>
<div class="row m-5 mb-2">
    @{
        foreach (Car car in Model.allCars)
        {
            @Html.Partial("AllCars", car)
        }
    }
</div>
